# 数据库连接（测试用）
# MySQL
DB_MYSQL_DSN=root:Mysql.123456@tcp(127.0.0.1:3306)/test?charset=utf8&timeout=30s&parseTime=True

# PostgreSQL
DB_POSTGRES_DSN=host=127.0.0.1 user=postgres password=Postgres.123456 dbname=test port=5432 sslmode=disable TimeZone=Asia/Shanghai

# Redis
DB_REDIS_ADDRS=127.0.0.1:6379
DB_REDIS_USERNAME=
DB_REDIS_PASSWORD=

# MongoDB
DB_MONGO_URI=mongodb://mongo:Mongo.123456@127.0.0.1:27017/admin

# RabbitMQ
DB_RABBITMQ_URL=amqp://rabbitmq:Rabbitmq.123456@127.0.0.1:5672/

# Jaeger
JAEGER_GRPC_ADDR=127.0.0.1:4317
JAEGER_HTTP_ADDR=127.0.0.1:4318

# Consul
CONSUL_ADDR=127.0.0.1:8500
